{% extends 'main/header.html' %}
{% block content %}
  {% if user.is_authenticated %}
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="btn">Add Friend</button>
    </form>
      {% if bro %}
        <div class="row">
          {% for i in bro %}
          <div class="col s12 m4">
            <div class="card grey-mine hoverable">
              <div class="card-content bg-mine-text">
                <span class="card-title">{{i.friend_name}}</span>
                <ul>
                  <li>
                    Username : {{i.friend_user_name}}
                  </li>
                  <li>
                    Rating : {{i.rating}}
                  </li>
                </ul>
                <a href="/main/refresh/{{i.friend_user_name}}" style="color: #333333;">
                <i class="material-icons" style="margin-left: 93%;">refresh</i>
                </a>
              </div>
              <!-- <div class="card-action">
                <a href="/main/refresh/{{i.friend_user_name}}"><i class="material-icons">refresh</i></a>
              </div> -->
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}
  </div>
  {% endif %}
{% endblock %}
