{% extends 'main/header.html' %}
{% block content %}
  {% if user.is_authenticated %}
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      {{form}}
      <button type="submit" class="btn btn-outline-info">Add Friend</button>
      {% if details %}
        <div class="row">
          {% for i in details %}
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">{{i.friend_name}}</span>
                <ul>
                  <li>
                    Username : {{i.friend_user_name}}
                  </li>
                  <li>
                    Rating : {{i.rating}}
                  </li>
                </ul>
              </div>
              <div class="card-action">
                <a href="/main/refresh/{{i.friend_user_name}}">Refersh</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    </form>
  </div>
  {% endif %}
{% endblock %}